#button {
    background-color: transparent;
    border-radius: 4px;
    border: 0;
    box-shadow: inset 0 0 0 1px rgb(255 255 255 / 30%);
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    height: 3em;
    line-height: 3em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.btn-div {
    height: 10rem;
}

.col-6 .animate__animated {
    animation-duration: 5s;
    display: block;
    margin: auto;
}

.box-question {
    display: block;
    margin: auto;
}

  main {
    width: 80%;
    margin: 0 auto;
  }

  summary {
    padding: 1em;
    background: rgb(250, 145, 53, 0.95);
    margin-bottom: 1em;
    cursor: pointer;
    outline: none;
    border-radius: 0.3em;
    font-weight: bold;

    &:hover {
      background: rgb(255 200 5);
    }
  }

  details[open] summary ~ * {
    animation: open 0.5s ease-in-out;
  }

  @keyframes open {
    from {
      opacity: 0;
      margin-top: -10px;
    }
    to {
      opacity: 1;
      margin-top: 0;
    }
  }
  .box-content {
    margin-bottom: 2em;
  }
