.container {
    margin-top: 5%;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    margin: 2%;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
}

.photo {
    width: 40%;
}

.description {
    width: 60%;
}
